.item1{
    border: 5px solid black;
}

.item2{
    border: 5px dotted rgb(172, 89, 239);
}


.item3{
    border: 5px dashed  rgb(67, 176, 28);
}

.item4{
    border: 2px double rgb(126, 8, 120);
}


.item5{
  width: 150px;
  height: 150px;
  background-color: aqua;
  border-radius: 50%;
}


.item6{
    width: 150px;
    height: 150px;
    background-color: rgb(82, 182, 241);
    border-radius: 10px 0 0 10px;
  }

  .item7{
    width: 150px;
    height: 150px;
    background-color: rgb(82, 182, 241);
    border-radius: 50%;
  }

  .item8{
    width: 70px;
    height: 70px;
    background-color: rgb(8, 25, 36);
    border-radius: 50%;
    padding: 30px;
  }
  
  
  